{% extends 'blog/base.html' %} {% block title %} My Blog - Home {% endblock %}
{% block content %} {% for post in posts %}
<article>
  <h2>
    <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
  </h2>
  <p>By {{post.author}} on {{ post.published_at|date:"F j, Y"}}</p>
  <p>{{ post.content|truncatewords:30 }}</p>
</article>

{% empty %}
<p>No posts yet</p>
{% endfor %}

<nav>
  {% if posts.has_previous %}
  <a href="?page={{ post.previous_page_number }}"> &laquo; Previous</a>
  {% endif %}

  <span> Page {{ posts.number }} of {{ posts.paginator.num_page }} </span>
  {% if posts.has_next %}
  <a href="?page={{ posts.next_page_number }}">Next &laquo; </a>
  {% endif %}
</nav>
{% endblock %}
